* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Arial', sans-serif;
}

.task-container {
  margin-bottom: 25px;
  padding: 25px 0;
}

.d-flex {
  display: flex;
  justify-content: space-around;
}

.bg-grey {
  background-color: #e7ecf2;
}
